.month-table {
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.day-cell {
  height: 200px;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  padding: 5px;
}

.day-failed {
  background-color: #ff99a9;
}

.day-bellow50 {
  background-color: #c8f9cf;
}

.day-above50 {
  background-color: #80ed99;
}

.day-success {
  background-color: #21ad70;
}

.year-view-day-box {
  height: 24px;
  width: 24px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}

.opacity-40 {
  opacity: 0.4;
}

.text-gray {
  color: #868e96;
}

.text-dark-gray {
  color: #495057;
}